beautifulsoup4==4.7.1
certifi==2019.6.16
chardet==3.0.4
cssutils==1.0.2
dj-database-url==0.5.0
dj-static==0.0.6
Django==2.2.13
django-bootstrap-datepicker-plus==3.0.5
django-countries==5.3.3
django-crispy-forms==1.7.2
django-heroku==0.3.1
django-inlinecss==0.2.0
django-mailchimp-v1.3==1.4.0
django-multi-form-view==2.0.1
django-naomi==0.8
django-popup-forms==1.0.3
django-ranged-response==0.2.0
django-simple-captcha==0.5.11
django-smtp-ssl==1.0
django-toolbelt==0.0.1
foreman==0.9.7
future==0.17.1
gunicorn==19.9.0
idna==2.8
Pillow==6.1.0
pipenv==2018.11.26
psycopg2==2.8.3
pynliner==0.8.0
python-http-client==3.1.0
pytz==2019.1
requests==2.22.0
requests-futures==1.0.0
sendgrid==3.6.5
sendgrid-django==4.2.0
six==1.12.0
soupsieve==1.9.1
sqlparse==0.3.0
static3==0.7.0
urllib3==1.25.3
virtualenv==16.7.0
virtualenv-clone==0.5.3
virtualenvwrapper-win==1.2.5
whitenoise==4.1.3
